extends base/layouts/basic
block title
  title Test workflow
block content
  include pages-layers/index/_section-slider
  include pages-layers/index/_section-news
  include pages-layers/index/_section-certs
  include pages-layers/index/_section-clients