footer.footer
  .container
    .footer__container
      .footer__item.footer__logo
        a(href="#")
          img(src="img/footer__logo.png").img__max-100
      nav.footer__item.footer__link
        ul.footer__list
          li.footer__list__item
            a(href="#") Механообработка деталей
          li.footer__list__item
            a(href="#") Токарные работы
      nav.footer__item.footer__link
        ul.footer__list
          li.footer__list__item
            a(href="#") Фрезеровка деталей
          li.footer__list__item
            a(href="#") Фрезерный работы
      .footer__item.footer__address
        |г. Санкт-Петербург, Колпино #[br] Ижорский завод, пр. Ленина, д.1
      .footer__item.footer__phone__wrap
        ul.footer__list
          li.footer__list__item
            a(href="call:88000000000").footer__phone 8 800 000 00 00
          li.footer__list__item
            a(href="#") НАПИСАТЬ ДИРЕКТОРУ