///Global
$min-window-width: 320px
$basis-font-size: 16px
$default-font-size: 0.875rem
$default-line-height: 1.33
///Media queries
$xs-screen: 320px
$s-screen: 480px
$m-screen: 768px
$l-screen: 960px
$xl-screen: 1100px
$xxl-screen: 1500px
///Font
$font: "PFDin TextCondPro"
$font-address: "../fonts/textCondPro/textCondPro"
$font-file-format: eot woff2 woff ttf svg
///Container
$container-width: 1032px
$container-padding-horizontal: 10px
$container-padding-horizontal-xl: 18px
///Buttons
$buttons-paddings: 0 rem(13)
///Header
$header-address-font-size: rem(19)