.btn
	position: relative
	display: inline-block
	padding: $buttons-paddings
	text-decoration: none
	text-transform: uppercase
	height: $buttons-height
	line-height: 1.8
	font-size: $buttons-font-size
	border: 0
	+transition(0.5s)

	@each $key, $button in $buttons
		+e(#{$key})
			@each $key, $attrs in $button
				@if $key != 'state'
					&:#{$key}
						@each $key, $value in $attrs
							#{$key}: $value
				@else
					@each $key, $value in $attrs
						#{$key}: $value