section.header__section
  .container
    .header__wrapper
      .header__logo
        a.header__logo_link
          img.header__logo__img(src="img/logo.png" alt="Ресурс")
      .header__address
        |Производство:
        br
        |г. Санкт-Петербург, Колпино
        br
        |Ижорский завод, пр. Ленина, д.1
      .header__phone
        a.header__phone__link(href="call:88000000000")
          |8 800 000 00 00
        a.btn.btn__default.btn__default--hover(href="#") Обратный звонок