.header
	font-size: $header-font-size
	+e(wrapper)
		+display(flex)
		+flex-direction(row)
		+align-content(center)
		+align-items(center)
		+justify-content(space-between)
		padding: rem(11) 0 rem(16) 0
		+breakpoint(m)
			padding: rem(23) 0 rem(42) 0
	+e(logo)
		+flex(0 0 auto)
		+e(img)
			width: $header-logo-xs
			+breakpoint(s)
				width: $header-logo-xs * 1.7
			+breakpoint(m)
				width: auto
	+e(address)
		display: none
		text-align: center
		+breakpoint(l)
			display: block
			+flex(0 0 auto)
	+e(phone)
		+flex(0 0 auto)
		text-align: center
		+e(link)
			font-size: rem(30)
			display: block
			text-decoration: none
			color: $base-color-text
		.btn
			font-size: $header-phone-btn-font-size-xs
			height: $header-phone-btn-height-xs
			+breakpoint(s)
				font-size: $header-phone-btn-font-size-s
				height: $header-phone-btn-height-s