section.main-page__section-cert
  .container
    h2.component__title.center Гарантируем качество изделий
    .main-page__section-cert__container
      .cert
        img.img__max-100(src="img/cert/cert.jpg")
      .info
        .info__row
          .info__row__icon
            img(src="img/cert/icons/1.png")
          .info__row__text Производство сертифицировано ГОСТ ISO 9001
        .info__row
          .info__row__icon
            img(src="img/cert/icons/2.png")
          .info__row__text Заводское качество и низкие цены
        .info__row
          .info__row__icon
            img(src="img/cert/icons/3.png")
          .info__row__text Обновляемый и модернизируемый парк станков